
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fbf4ea;
  color: #c33770;
  font-family: 'League Spartan', sans-serif;
  padding-top: 80px;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c33770;
  padding: 15px 50px;
  color: white;
  font-size: 20px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.logo {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-icon {
  font-family: 'Amoresa', cursive;
  font-size: 24px;
  margin-right: 10px;
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  transition: background 0.3s;
}

nav ul li a:hover {
  background: #a82b58;  /* darker hover */
}

nav ul li a.active {
  background: white;   /* highlight */
  color: #c33770;      /* main theme color */
}

/* HOME */
.home-img{
  height: 650px;
  width: auto;
  display: flex;
}

.name-img {
  width: 790px; 
  height: auto;      
  margin-bottom: 20px;
  display: block;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 10%;
  scroll-margin-top: 100px; 
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 70px;
  background: #f283ae;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  font-size: 25px;
}

.btn:hover {
  background: #c33770;
}

.socials img {
  width: 60px;
  margin: 30px 10px;
  transition: transform 0.3s;
}

.socials img:hover {
  transform: scale(1.2);
}


 /* ABOUT */
.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 130px 80px;
}

.about-section .content {
  flex: 1;
  margin-left: 60px;
  max-width: 1000px;
}

.about-section .about-logo {
  width: 300px;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
}

section {
  padding: 60px 10%;
  text-align: center;
}

section h2 {
  font-family: 'Amoresa', cursive;
  font-size: 40px;
  color: #c33770;
  margin-bottom: 20px;
}


/* EDUCATION */
.education-section {
  text-align: center;
  padding: 120px 40px;
}

.education-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}

.education-title img {
  width: 350px; /* size of logo */
  height: auto;
}

.education-title h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
  color: #f48ca5;
}

.education-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
  flex-wrap: wrap;
}

.education-card {
  text-align: center;
  max-width: 400px;
}

.education-card img {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

.education-card h3 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
}

.education-card p {
  font-size: 20px;
  margin: 3px 0;
  line-height: 1.5;
  font-weight: 500;
}

.education-card .year {
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}
    
/* EXPERIENCE */
.experience {
  padding: 120px 10%;
  text-align: center;
}

.exp-title {
  width: 320px;    
  height: auto;
  margin: 0 auto 50px;
  display: block;
}

.exp-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
  justify-items: center;
}

.exp-box {
  background: transparent;
  color: #c33770;
  max-width: 450px;
  padding: 50px 10px;
  text-align: center;
}

.exp-box h3 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.exp-box p {
  font-size: 20px;
  color: #f283ae;
  margin-bottom: 5px;
}

.exp-box span {
  font-size: 22px;
  font-weight: bold;
  color: #c33770;
}

/* CONTACT */
.contact {
  padding: 120px 10%;
  text-align: center;
}

.contact-title {
  width: 300px;
  height: auto;
  margin: 0 auto 50px;
  display: block;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  
  gap: 20px;
  justify-content: center;
  justify-items: center;
}

.contact-box {
  border: 2px solid #f283ae;
  border-radius: 15px;
  padding: 40px 20px;
  text-align: center;
  width: 200px;
  text-decoration: none;
  transition: transform 0.3s ease, background 0.3s ease;
  margin-bottom: 120px;
}

.contact-box:hover {
  background: #ffe8f1;
  transform: translateY(-5px);
}   

.contact-icon {
  width: 70px;
  height: auto;
  margin-bottom: 15px;
}

.contact-box h3 {
  font-size: 20px;
  font-weight: bold;
  color: #c33770;
}

.contact-box p {
  font-size: 13px;
  margin: 3px 0;
  line-height: 1.5;
  font-weight: 500;
  color: #c33770;
}